<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="assembled_robot">

	<!-- THE ROBOT -->
	<link name="world" />

	<!-- UR from ROS-i repos -->
	<xacro:include filename="$(find fanuc_cr35ia_support)/urdf/cr35ia.xacro" />

	<joint name="world_joint" type="fixed">
		<parent link="world" />
		<child link = "base_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>

	<!-- Robotiq from Beta Robots fork -->
	<xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" />

        <xacro:robotiq_85_gripper prefix="" parent="link_6" >
    		<origin xyz="0 0 0" rpy="0 0 0"/>
  	</xacro:robotiq_85_gripper>

       <!-- Plugin -->
       <plugin name="ros_control" filename="libgazebo_ros_control.so" />

</robot>
